<%= error_messages_for @blocked_reason_type %>

<%= form_for(@blocked_reason_type, :html => { :id => 'blocked_reason_type_form' }) do |f| %>
  <div class='box tabular'>
    <p>
      <%= f.label :name, l('type_attribute_name') %>
      <%= f.text_field :name %>
      <br/>
      <%= f.label :css_class, l('type_attribute_css_class') %>
      <%= f.text_field :css_class %>
    </p>
  </div>
  <%= f.submit(@blocked_reason_type.new_record? ? l(:button_create) : l(:button_save)) %>
<% end %>
