<% if issue.blocked_reason.nil? %>
<%=  button_tag(type: 'button', id: 'block_issue_button') do
  content_tag(:strong, 'Block Issue')
end 
%>
  <div id='blocked_reason_form' style='display:none;'> 
    <% blocked_reason = BlockedReason.new %>
    <%= form_for(blocked_reason) do |f| %>
      <%= f.hidden_field :issue_id, :value => issue.id %>
      <div class="field">
        <%= f.label :blocked_reason_type_id %> 
        <%= f.select :blocked_reason_type_id, options_from_collection_for_select(BlockedReasonType.all, :id, :name), :include_blank => true %>
      </div>
      <div class="field">
        <%= f.label :comment %><br />
        <%= f.text_area :comment, :size => "15x3" %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
<% end %>
<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'tipr', :plugin => 'redmine_blocked_reason' %>
    <%= javascript_include_tag 'tipr.min.js', :plugin => 'redmine_blocked_reason' %>
    <%= javascript_include_tag 'blocked_reason', :plugin => 'redmine_blocked_reason' %>
<% end %>
