<% if issue.blocked_reason.nil? %>
  <%=  button_tag(type: 'button', id: 'block_issue_button') do %>
    <%= content_tag(:strong, t('helpers.label.block_button')) %>
  <% end %>
  <div id='blocked_reason_form' style='display:none;'>
    <%= form_for BlockedReason.new do |f| %>
      <%= f.hidden_field :issue_id, value: issue.id %>
      <div class="blocked-field-group-left">
        <%= f.label t('helpers.label.blocked_reason.blocked_reason_type_id') %><br />
        <%= f.fields_for :blocked_reason_type do |r|%>
          <div class="radio-buttons">
            <% BlockedReasonType.all.each do |reason| %>
              <div class="field">
                <%= r.radio_button :id, reason[:id] %>
                <%= r.label :id, reason[:name], value: reason[:id] %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="blocked-field-group-right">
        <div class="field">
          <%= f.label t('helpers.label.blocked_reason.comment') %><br />
          <%= f.text_area :comment, size: "15x3" %>
        </div>
        <div class="actions">
          <%= f.submit  t('helpers.label.create_button') %>
          <%=  button_tag(type: 'button', id: 'block_form_hide_button') do %>
            <%= content_tag(:strong,  t('helpers.label.cancel_button')) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <%= "#{issue.blocked_reason.blocked_reason_type.name}: #{issue.blocked_reason.comment}" %>
<% end %>